<h1>My name is {{ title }}</h1>
<h1>My email is {{ email }}</h1>
<button (click)="myEvents('Hama hama')">Click here</button>
<p>{{ data }}</p>
<div>
  <app-signup></app-signup>
</div>
<ul *ngFor="let item of dataarray">
  <li>
    Name: {{ item.name }} | Email:{{ item.email }} | Gender: {{ item.gender }} |
    Age: {{ item.age }}
  </li>
</ul>
<div *ngIf="!loginsucc; then loginBlock; else elseBlock"></div>
<ng-template #elseBlock>
  <h1>Please log in to access the masterclass</h1>
</ng-template>

<ng-template #loginBlock>
  <h1>Login Successfully</h1>
  <h1>Welcome to this Angular Masterclass</h1>
</ng-template>

<select (change)="colorSelection($event)">
  <option value="">Select color</option>
  <option value="green">Green color</option>
  <option value="blue">Blue color</option>
  <option value="red">Red color</option>
  <option value="grey">Grey color</option>
</select>

<div [ngSwitch]="colorChoice">
  <h1 style="color: green" *ngSwitchCase="'green'">Green color</h1>
  <h1 style="color: blue" *ngSwitchCase="'blue'">Blue color</h1>
  <h1 style="color: red" *ngSwitchCase="'red'">Red color</h1>
  <h1 style="color: grey" *ngSwitchCase="'grey'">Grey color</h1>
  <h1 style="color: rgb(146, 11, 200)" *ngSwitchDefault>
    No color Selected by the user
  </h1>
</div>
